<div class="card-wrapper">
  <a [routerLink]="['/jobs', job.job_id]" [queryParams]="{ page: page, query: query, location: location, remoteEnabled: remoteEnabled }" class="card">
    <div class="company-vacancy-details">
      <div class="company-logo">
        <img *ngIf="job.thumbnail" [src]="job.thumbnail" />
        <img *ngIf="!job.thumbnail" src="../../../assets/placeholder.jpg" />
      </div>

      <div class="titles">
        <h5>{{ job.company_name }}</h5>
        <h4>{{ job.title }}</h4>
        <div class="full-time">{{ job.detected_extensions.schedule_type }}</div>
      </div>
    </div>

    <div class="info">
      <div class="location">
        <mat-icon class="icon">public</mat-icon>
        <span>{{ job.location }}</span>
      </div>
      <div class="time" *ngIf="job.detected_extensions.posted_at">
        <mat-icon class="icon">query_builder</mat-icon>
        <span>{{ job.detected_extensions.posted_at }}</span>
      </div>
    </div>
  </a>
</div>
