.listing {
    margin-left: 20px;

    h3 {
      color: #282538;
      font-weight: 700;
      font-size: 40px;
    }

    .spinner {
      margin: 100px 100px 0 150px ;
      width: 80px;
      height: 80px;
      border: 5px solid #ccc;
      border-top-color: #3f51b5;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

    .paginator {
      font-size: 14px;
      font-weight: 600;
      margin: 40px 0;
      color: #B9BDCF;
    }
  }

  @media (max-width: 576px) {
    .paginator {
      max-width: 100%;
    }

    .listing {
      margin: 0;
    }
  }
