<div class="listing" #scrollToTop>
    <div class="spinner" *ngIf="loading"></div>

    <div class="error-box" *ngIf="errorMessage && !loading">
      <span class="material-icons">error_outline</span>
      <p>{{ errorMessage }}</p>
    </div>


    <app-job-card
        *ngFor="let job of jobs"
        [job]="job"
        [page]="page"
        [query]="jobSearch"
        [location]="locationSearch"
        [remoteEnabled]="remoteEnabled"
        [hidden]="loading"
    >
    </app-job-card>

    <mat-paginator
        showFirstLastButtons
        class="paginator"
        [length]="100"
        [pageSize]="10"
        *ngIf="jobs.length"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>
