.listing {
    margin-left: 20px;

    .spinner {
      margin: 100px;
    }

    .paginator {
      font-size: 14px;
      font-weight: 600;
      margin: 40px 0;
      color: #B9BDCF;
    }
  }

  @media (max-width: 576px) { 
    .paginator {
      max-width: 100%;
    }

    .listing {
      margin: 0;
    }
  }