.container {
    width: 90%;
    margin: 32px auto;

    h1 {
        color: #282538;
        font-size: 24px;
        margin-bottom: 32px;
        font-weight: 300;

        span {
            font-weight: 700;
        }
    }
}