.job-desc-container {
  display: flex;
  align-items: flex-start;
  font-family: 'Poppins';

  .sidebar {
    h4 {
      color: #B9BDCF;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
    }

    .job-apply {
      max-width: 230px;
      color: #334680;

      .job-related-link {
        margin-top: 20px;
      }
    }

    .back-to-search {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: #1E86FF;

      .back-icon {
        transform: rotate(180deg);
      }

      .back-link,
      .back-link:visited {
        color: #1E86FF;
        margin-left: 15px;
      }
    }
  }

  .job-desc {
    color: #334680;
    margin-left: 10%;

    .title {
      display: flex;
      align-items: center;

      h4 {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
      }

      .full-time {
        padding: 8px;
        border: 1px solid #334680;
        border-radius: 4px;
        font-weight: 700;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
      }
    }

    .time {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-top: 10px;
      font-size: 12px;
      color: #B7BCCE;

      .icon {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        margin-left: 5px;
      }
    }

    .company {
      display: flex;
      align-items: center;
      margin-top: 30px;

      img {
        width: 42px;
        height: 42px;
        border-radius: 4px;
      }

      .details {
        margin-left: 12px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          margin: 0 0 0 5px;
        }

        .location {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: #B9BDCF;

          .icon {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          span {
            margin-left: 5px;
          }
        }
      }

    }
  }

  .desc {
    margin: 32px 0 100px 0;
    max-width: 890px;
  }
}


/* For screens up to 576px */
@media (max-width: 576px) {
  .job-desc-container { 
    flex-direction: column;

    .job-desc {
      margin: 0;

      .title{
        margin-top: 36px;
      flex-wrap: wrap;


        .full-time{
          margin-left: 0;
          margin-top: 8px;
        }
      }
    }
  }

}

/* For screens from 576px to 768px */
@media (min-width: 576px) and (max-width: 768px) {
}

/* For screens from 768px to 992px */
@media (min-width: 768px) and (max-width: 992px) {

}

/* For screens above 992px */
@media (min-width: 992px) {

}
